@charset "UTF-8";
body {
  font-family: "토스폰트";
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
header #title {
  float: left;
  margin: 20px 40px;
}
header #gnb {
  float: right;
  margin: 20px 40px;
}
header #gnb ul {
  display: flex;
  gap: 40px;
}
header #gnb li {
  cursor: pointer;
}
header #gnb li.active {
  color: #f00;
}

main {
  height: 100vh;
  overflow: hidden;
}

main .arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
main .arrow i {
  font-size: 40px;
  cursor: pointer;
}
main .arrow .hidden {
  display: none;
}

@keyframes move {
  to {
    bottom: 24px;
  }
}
.mouse {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  animation: move 0.3s alternate infinite;
}

.container .area {
  width: 100%;
  height: 100vh;
}
.container #main {
  background: #fcc;
}
.container #about {
  background: #ffc;
}
.container #works {
  background: #cfc;
}
.container #contact {
  background: #cff;
}

main .pager {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
main .pager span {
  display: block;
  margin: 8px 0;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
}
main .pager span.active {
  opacity: 1;
}

#about .inner {
  width: 90%;
  height: calc(100% - 56px);
  padding-top: 56px;
  margin: 0 auto;
}
#about .box {
  width: 100%;
  height: 100%;
}
#about img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#works .inner {
  width: 90%;
  height: calc(100% - 56px);
  padding-top: 56px;
  margin: 0 auto;
}
#works .list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
#works .item {
  width: calc((100% - 80px) / 3);
}
#works .box {
  background: #fff;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
#works .img img {
  width: 100%;
}
#works h3 {
  font-size: 24px;
  padding-left: 40px;
}
#works .desc {
  font-size: 20px;
  padding-left: 40px;
  margin: 20px 0 40px;
}
#works .link {
  display: flex;
  gap: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
}
#works .link a {
  display: block;
  border-radius: 20px;
  background: #111;
  padding: 16px 20px;
  color: #fff;
  text-decoration: none;
}
#works .link li.git a {
  padding: 8px 8px;
}
#works .type2 .img {
  float: left;
  width: 70%;
}
#works .type2 h3 {
  clear: both;
}
#works .type2 .link {
  width: 28%;
  float: right;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  padding-top: 10px;
  clear: both;
  margin-right: 5%;
  margin-top: -200px;
}
#works .type2 .link li {
  margin-bottom: 10px;
}
#works .type2 .link a {
  text-align: center;
  height: auto;
  line-height: 1.4;
  padding: 20px;
}
#works .type2 .link i {
  font-size: 40px;
}

#EMW_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7333333333);
  display: none;
  justify-content: center;
  align-items: center;
}
#EMW_modal.active {
  display: flex;
}
#EMW_modal .modal_inner {
  width: 80%;
  height: 84%;
  background: #fff;
  border: 10px solid #fff;
  border-radius: 12px;
}
#EMW_modal .close_modal {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
#EMW_modal iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */