
body{font-family:"토스폰트";}
 
header{
	position:fixed; width:100%; z-index:999; 
	backdrop-filter:blur(4px); box-shadow:0 1px 1px #00000033;
	#title{float:left; margin:20px 40px;}
	#gnb{
		float:right; margin:20px 40px;
		ul{display:flex; gap:40px;}
		li{cursor:pointer;}
		li.active{color:#f00;}
	}
}

main{height:100vh; overflow:hidden;}

main .arrow{
	position:fixed; right:20px; bottom:20px; 
	i{font-size:40px; cursor: pointer;}
	.hidden{display:none;}
}

@keyframes move{
	to{bottom:24px;}
}
.mouse{position:fixed; bottom:20px; left:50%; transform:translateX(-50%);
	z-index:100; animation:move .3s alternate infinite;}




.container{
	.area{width:100%; height:100vh;}
	#main{background:#fcc;}
	#about{background:#ffc;}
	#works{background:#cfc;}
	#contact{background:#cff;}
}

main .pager{
	position:absolute; top:50%; right:20px; transform:translateY(-50%);
	span{display:block; margin:8px 0; width:8px; height:8px;
		background:#000; border-radius:50%; opacity:0.4;
		cursor:pointer;}
	span.active{opacity:1;}	
}

#about{
	.inner{width:90%; height:calc(100% - 56px); padding-top:56px;
		margin:0 auto;}
	.box{width:100%; height:100%;}
	img{width:100%; height:100%; object-fit:contain;}
}

#works{
	.inner{width:90%; height:calc(100% - 56px); padding-top:56px;
		margin:0 auto;}
	.list{display:flex; gap:40px; flex-wrap:wrap; }
	.item{width:calc((100% - 80px) / 3);}
	.box{background:#fff; height:100%; border-radius:16px; overflow:hidden;}
	.img img{width:100%;}
	h3{font-size:24px; padding-left:40px;}
	.desc{font-size:20px; padding-left:40px; margin:20px 0 40px;}
	.link{
		display:flex; gap:20px; padding-left:40px; padding-bottom:20px;

		a{display:block; border-radius:20px; background:#111;
			padding:16px 20px; color:#fff;
			text-decoration:none;}
		li.git a{padding:8px 8px;}
	}
	.type2{
		.img{float:left; width:70%;}
		h3{clear:both;}
		.link{
			width:28%; float:right; display:block;  width:fit-content; padding:0;
			padding-top:10px; clear:both; margin-right:5%; margin-top:-200px;
			li{margin-bottom:10px;}
			a{text-align:center; height:auto; line-height: 1.4; padding:20px;}
			i{font-size:40px; }
		}
	}
}

#EMW_modal{
	position:fixed; top:0; left:0; width:100%; height:100%; z-index:999;
	background:#000000bb; 
	display:none; justify-content:center; align-items:center;
	&.active{display:flex;}
	.modal_inner{width:80%; height:84%; background:#fff;
		border:10px solid #fff; border-radius:12px;}
	.close_modal{color:#fff; font-size:30px; position:absolute;
		top:40px; right:40px; cursor:pointer;}
	iframe{width:100%; height:100%;}
}//end:modal
